<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> hello </title>

    <link rel="stylesheet" href="stylesheets/clay.css">
    <link rel="stylesheet" href="stylesheets/jquery-ui.css">
    <link rel="stylesheet" href="stylesheets/font-awesome.css">
    <script src="javascripts/libraries/jquery-1.11.1.js"></script>      
    <script src="javascripts/libraries/jquery-ui.js"></script>  
    <script src="javascripts/libraries/jquery.jsPlumb-1.6.2-min.js"></script>  
    <script src="/socket.io/socket.io.js"></script>
    <script src="javascripts/libraries/midi.js"></script>
    <script src="javascripts/libraries/emulatedHwEventHandlers.js"></script>  

</head>

<body>
	
	<div id="headerbar"></div>
	<div id="menu"> 
		
		<div id="titleText"> blOctopus </div>
		
	<div class="thinBoundary"> </div>

		<p class="sidebarHeaderText">NEARBY BLOCTOPI</p>
		<p class="sidebarHeaderText2"> ▼ My Computer</p>
		<p class="sidebarHeaderText3"> PHYSICAL </p>
		<ul id="hardwareList"></ul>
		<p class="sidebarHeaderText3"> VIRTUAL </p>
			<ul id="emulatedList"></ul>
		
	<div class="thinBoundary"> </div>

		<p class="sidebarHeaderText"> <i class="fa fa-plus-square-o fa-lg"></i> ADD VIRTUAL POD</p>
			<ul id="emulationOptionsList"></ul>
	
	</div>

	<div id="workspace"> 
		<div class="section" id="section1"> </div>
		<!-- <div class="boundary" id="b1"> </div> -->
		<div class="section" id="section2"> </div>
		<!-- <div class="boundary" id="b2"> </div> -->
		<div class="section" id="section3"> </div>
	</div>
	
	<!-- template to display button for emulated hardware devices -->
	<script src="javascripts/libraries/handlebars-v2.0.0.js"></script>
	<script type="text/x-handlebars-template" id="emulated-hardware-button-template">
		<li class="sibebarbtn"  id="hwEmuBtn{{this.name}}" > <i class="fa fa-plus-circle fa-lg"></i> {{this.name}}</li>
	</script>
	<script type="text/x-handlebars-template" id="emulated-hardware-created-template">
		<li class="sibebarbtn" id="hwEmuCreated{{this.id}}"> 
			<i class="fa fa-square fa-lg white shadow"></i> {{this.name}} 
			<div class="sidebarRemoveBtn" >
				<i class="fa fa-times-circle fa-lg"></i>
			</div>
		</li>
	</script>
	<script type="text/x-handlebars-template" id="hardware-button-template">
		<li class="sibebarbtn" id="hwSideBarBtn{{this.name}}" > {{this.name}}</li>
	</script>
	<script type="text/x-handlebars-template" id="outputDisplayWindow">
		 <div class="returnValDiv" contenteditable="false">
			<input class="returnValInput {{this.ofClass}}"  id="outputWindow-{{this.blockID}}" value="{{this.returnVal}}" readonly></input>
		 </div> 
	</script>

	<script src="javascripts/libraries/handlebarsTemplates.js"></script>
	
	<script src="javascripts/creator.js"></script>
    <script src="javascripts/app.js"></script>
    <script src="javascripts/drawer.js"></script>
    <script src="javascripts/midi-clay.js"></script>
	<link rel="jsandbox" href="javascripts/libraries/eligrey-jsandbox-88dc252/src/jsandbox-worker.js" />
	<script type="text/javascript" src="javascripts/libraries/eligrey-jsandbox-88dc252/src/jsandbox.js"></script>
</body>
</html>