/* -------------------------- General  CSS  --------------------------*/
html{
	height: 100%; 
	width: 100%; 
	margin: 0;
}

body{
	font-family: Helvetica,monofont;
	/*font-family: pixelated,Helvetica,monofont;*/
	/*height: 650px; */
	height: 100%;
	width: 100%; 
	margin: 0;
}


div{
	/*border:	solid 1px black;	*/
	font-size: 14px; /* default div font size */
}

textarea{
	font-family: inconsolata;	
	font-size: 16px;
}

svg{
	position: absolute;
	/*-webkit-svg-shadow: 0 0 7px red;*/
}
/* -------------------------- General CSS -END  --------------------------*/
/* -------------------------- Page Layout  CSS  --------------------------*/

.boundary {
	border: solid;
	border-width: 1px;
}

.thinBoundary{	
	border-bottom: 1px solid lightgrey;
	margin-left: 10px;
	margin-right: 10px;
}
.section {
	height: 33%;
}

#menu {
	height: 100%;	
	width: 200px;
	float:left;
	background-color: #f7f7f7;
	/*border: solid;*/
	/*border-right: solid;*/
	/*border-color: grey;*/
}

#workspace {
	height: 100%;
/* 
	border: solid;
	border-color: blue;
 */
	position:right;
}

#hardwareList {
	/*border: solid;*/
	/*border-color: red;*/
}

#headerbar{
	background-color: black;
	height: 35px;	
}

#titleText{
	height:30px;	
	/*background-color: red;*/
	text-align:center;
	font-size: 26px; 
	font-family: pixelated;
	font-family: isocpeur;
	margin-top: 15px;
	color: #7f7f7f
}

.sidebarHeaderText{
	font-size: 10px; 
	font-weight: bold;
	color: #bfbfbf;
	margin-left: 15px;
	padding-top: 5px;
}

.sidebarHeaderText2{
	font-size: 11px;
	font-weight: bold; 
	color: #bfbfbf;
	margin-left: 25px;	
}

.sidebarHeaderText3{
	font-size: 9px; 
	color: #bfbfbf;
	text-align:center;
	margin-bottom: 0px;
}

#emulatedList,#emulationOptionsList{
	font-size: 13px;
	font-weight: bold; 
    list-style-type: none;
	line-height: 20px;
	color:#a3a3a3;
	margin-top: 0px;
}

.sibebarbtn:hover{
	background-color: grey;
	color: white;
}

.sidebarRemoveBtn{
	float:right;
	margin-right: 5px;
	display: none;
}

.sibebarbtn:hover .sidebarRemoveBtn{
  	display:block;
}

#hardwareList{
	margin-top: 0px;
	margin-bottom: 0px;
}

.hw_sidebar_entry{
	font-size: 13px;
	font-weight: bold; 
    list-style-type: none;
	line-height: 20px;
	color:#3f3f3f;
}

.draggable{
	cursor: move;
	position: absolute;	
}

.editable{
	cursor: text;
}

@font-face {
	  font-family: 'pixelated';
	  src: url('../fonts/LCD_Solid.ttf') format('truetype');
}	

@font-face {
	  font-family: 'isocpeur';
	  src: url('../fonts/isocpeur.ttf') format('truetype');
}	

@font-face {
	  font-family: 'inconsolata';
	  src: url('../fonts/Inconsolata.otf') format('truetype');
}

/* -------------------------- Page Layout  CSS -END  --------------------------*/
/* -------------------------- FOR CODE BOXES  --------------------------*/

.deleteButton{
	position: absolute;
	width: 16px;
	height: 16px;
	top: 0px;
	right:0px;
	display: none;	
	background-image: url("../images/glyphicons_197_remove.png");
	background-repeat: no-repeat;
	background-size: contain;
	opacity: 0.2; filter: alpha(opacity=20);
}

.deleteButton:hover{
	cursor: pointer;
}


.freeCellContainer:hover .deleteButton{
	display:block;	
}

.codeContainer{
	/*background-color: red;*/
	/*border:	solid 1px #e2e2e2;*/	
	border:	solid 1px transparent;
	position: absolute;
	min-width: 400px;
	padding: 15px;
}
.codeContainer:hover{
	border:	solid 1px #e2e2e2;
}

.codeBody{
	/*background-color: blue;*/

	cursor: text;
    white-space: nowrap;  /*text in paragraphs wont wrap*/
	
	/* ! Code Indentation !*/
	margin: 0px 0px 0px 30px ; /* T R B L*/

}
.codeBody:focus{
    outline: none; /*Turn off blue highlighting on focus*/
}

.codeArgInput,.returnValInput{
	width: 35px;
}

.returnValInput{
	display: block;
	margin: 0 auto;	
	text-align: center;
}

.codeArgLine{
	/*background-color: lightgrey;*/
}
.dividerline{
	border-bottom: 1px solid lightGrey;	
	margin-bottom: 3px;
	margin-top: 3px;
	readonly:false;
}

.codeArgument{
	background-color: #f2f2f2;
	padding: 1px 10px;  /*UD LR*/
	border-radius: 10px;
	display: inline-block; /* fit to contents */
	/*float:right;	*/

}
.codeHeader{
	/*background-color: grey;*/

	padding: 5px;
	cursor: text;
	display: inline-block; /* fit to contents */
	
	/* These two lines: Enforce div to stay in one line*/
   	overflow: hidden; 
    white-space: nowrap;  /*text in paragraphs wont wrap*/
}

/*for tab indent style*/

.Preform {margin:0;padding:0;display:inline;}

pre {
    -moz-tab-size:    2;
    -o-tab-size:      2;
    -webkit-tab-size: 2;
    -ms-tab-size:     2;
    tab-size:         2;
}

table,th,td{
	border: 1px solid red;
}

div.editable.freeCell{
	/*background-color: red;*/
	/*border:	solid 1px transparent;*/
	font-family:inconsolata;

	/*setting the min width nonzero prevent cursor disappering in empty div*/
	min-width: 18px; 

	/* turn of blue outline around a box - typical text input focus box*/
	outline: none;
	
	/* Draw bubble esk shape*/

	/* Add extra drag space and puts dots further out*/
	/*margin: 1px; */
	padding: 10px;
	border-radius: 7px; /*20px;*/
	border:	solid 1px lightgrey; /*black*/	 

	/*text-align: center;*/
}
div.editable.freeCell:hover{
	/*border: 1px solid blue;*/
	cursor: text;
	
	/*cursor:url(http://www.seancannon.com/_test/sniper-scope.cur) ,default;*/
	/*cursor:url(./images/blueCursor.png) ,default;*/
}

.freeCellContainer{
	padding: 10px; /*how much space to drag*/	
}
.freeCellContainer:hover{
	border: 1px solid lightGrey;
	border:	1px dashed lightGrey; 

}

/*If a free cell gets changed into HTML*/
.freeHTMLContainer{
	padding: 10px;
	border: 1px solid transparent; 

	/*background-color: red;*/
}
.freeHTMLContainer:hover{
	/*border: 1px solid #73aee3; /*baby blue #73aee3*/
	border: 1px solid #13abea; /*joel blue ##13abea*/
}

.freeHTMLContainer.selected{
	border: 1px solid #73aee3; /*baby blue #73aee3*/
	border: 1px solid red; 
	border: 1px solid #13abea; /*joel blue ##13abea*/

}
/* -------------------------- END - FOR CODE BOXES   --------------------------*/

/* -------------------------- FOR SENSOR NODES - ARDUINO  --------------------------*/

.sensorNodeContainer{
	width: 200px;
	height: 200px;
}

.sensorValue{
    width: 200px;
	font-size: 50px;    
    position: absolute;
    text-align: center;
    /*margin-top: 20px;*/
    margin-top: 30px;    
   	color: #3f3f3f;

}

.sensorLabel{
	width: 200px;
	font-size: 20px;    	
    position: absolute;
	text-align: center;
	margin-top: 155px;
	color: #3f3f3f;
	/*font-family: pixelated;*/
}

.sensorSlider{
	width: 150px; 	
    position: absolute;
	text-align: center;
	top: 110px;
	margin-left: 25px;
}

.outputWindow{ 	
    position: absolute;
	text-align: center;
	margin-top: 160px;
	left: 80px;
}
.sensorButton {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #000;
    position: absolute;
	text-align: center;
	top: 95px;
	left: 75px;
}

.fanIcon, .motorIcon {
	width: 75px; 	
    position: absolute;
	text-align: center;
	top: 75px;
	margin-left: 65px;	
}


.sensorLED {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #000;
    position: absolute;
	text-align: center;
	top: 95px;
	left: 75px;
	opacity: 0.1;
	background-color: yellow;
}
.motion:hover{
	opacity: 1.0;
}

.heater{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #000;
    position: absolute;
	text-align: center;
	top: 95px;
	left: 75px;
	background-color: red;
}


/* -------------------------- JQUERY HELPERS   --------------------------*/

/* -------------------------- CSS HELPERS   --------------------------*/

.pull-left{
	float:left;
}

.pull-right{
	float:right;	
}

.white{
	color:white;
}

.shadow{
	box-shadow: 0px 2px 5px #bfbfbf;
}
/*.hidden{ visibility: hidden;}*/
.hidden{ display: none;} /* hides completly without taking up space */

/* -----  For jsplumb ----  */
._jsPlumb_connector { 
	/*Put connectors behind endpoints (makes plugging out easier*/
	z-index:-1; 	
} 